{% extends "base.html" %} 

{% block content %}

<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <p class="text-base font-semibold leading-7 text-indigo-600">The Modern Flask Template</p>
      <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mb-6">About the template...</h2>
      <p>
        The primary purpose of the Flask-Altair template project is to bridge the gap between web application development 
        and interactive data visualization. At its core, the aim to simplify and expedite the process of integrating robust 
        and responsive data visualizations into web applications. By leveraging the strengths of Flask, a lightweight yet 
        powerful web framework, coupled with the capabilities of Altair, a declarative statistical visualization library, 
        the project offers an efficient and modular approach to web-based data presentation.
      </p>
    </div>
</div>
  

{% endblock %}