{% extends "base.html" %} 

{% block content %}



<div class="flex items-center justify-center mt-10">
    <div class="rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Interactive Map: Point Data [interactive] </dt>
        <div id="example-pointmap" class="overflow-hidden">
            <script>
                fetch('/data/altair/example/pointmap')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-pointmap', data);
                });
            </script>
        </div>
    </div>
</div>




<div class="flex items-center justify-center">
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2">

      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Bar Chart [not interactive] </dt>
        <!-- Simple Bar Chart -->
        <div id="example-bar" class="overflow-hidden">
            <script>
                fetch('/data/altair/example/barchart')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-bar', data);
                });
            </script>
        </div>
      </div>

      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Scatter Chart [not interactive]</dt>
        <!-- Simple Scatter Plot -->
        <div id="example-reusing" class="overflow-hidden">
            <script>
                fetch('/data/altair/example/scatter')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-reusing', data);
                });
            </script>
        </div>
      </div>

    </dl>
</div>








<div class="flex items-center justify-center mt-10">
    <div class="rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <!-- Chart Data - Interactive- Centered -->
        <!-- Chart Data - Altair Brush Example with Tailwind -->
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Brush Chart [interactive] </dt>
        <div id="example-brush">
            <script>
                fetch('/data/altair/example/brush')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-brush', data);
                });
            </script>
        </div>
    </div>
</div>



<div class="flex items-center justify-center mt-10">
    <div class="rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <!-- Chart Data - Interactive- Centered -->
        <!-- Chart Data - Altair Brush Example with Tailwind -->
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Brush Scatter [interactive] </dt>
        <div id="example-brushscratter">
            <script>
                fetch('/data/altair/example/interactive/brushscatter')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-brushscratter', data);
                });
            </script>
        </div>
    </div>
</div>


<div class="flex items-center justify-center mt-10">
    <div class="rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Interactive Legend [interactive] </dt>
        <div id="example-interactivelegend" class="overflow-hidden">
            <script>
                fetch('/data/altair/example/interactivelegend')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-interactivelegend', data);
                });
            </script>
        </div>
    </div>
</div>


<div class="flex items-center justify-center mt-10">
    <div class="rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Interactive Cross Height [interactive] </dt>
        <div id="example-interactivecrossheight" class="overflow-hidden">
            <script>
                fetch('/data/altair/example/interactive-crossheight')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-interactivecrossheight', data);
                });
            </script>
        </div>
    </div>
</div>




<div class="flex items-center justify-center mt-10">
    <div class="rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Example with 1 Filters, 2 Chart with Drop Down[interactive] </dt>
        <div id="example-dropdown-one" class="overflow-hidden">
            <script>
                fetch('/data/altair/example/interactive-one-dropdown')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-dropdown-one', data);
                });
            </script>
        </div>
    </div>
</div>


<div class="flex items-center justify-center mt-10">
    <div class="rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Example with 2 Filters, 2 Chart with Drop Down[interactive] </dt>
        <div id="example-dropdown-two" class="overflow-hidden">
            <script>
                fetch('/data/altair/example/interactive-two-dropdown')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-dropdown-two', data);
                });
            </script>
        </div>
    </div>
</div>


<div class="flex items-center justify-center mt-10">
    <div class="rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500 pb-6">Example with 1 Filters, 3 Chart with Drop Down[interactive] </dt>
        <div id="example-dropdown-one-three" class="overflow-hidden">
            <script>
                fetch('/data/altair/example/interactive-one-dropdown-three-visuals')
                .then(response => response.json())
                .then(data => {
                    vegaEmbed('#example-dropdown-one-three', data);
                });
            </script>
        </div>
    </div>
</div>






{% endblock %}